@font-face {
  font-family: "poppins-bold";
  src: url(Poppins/Poppins-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url(Poppins/Poppins-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-light";
  src: url(Poppins/Poppins-Light.ttf);
  font-weight: normal;
  font-style: normal;
}
